*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
scroll-behavior: smooth;
}

body{
  background-color: #050264;
  overflow-x: hidden;
}



/* Counter */
.count{
  padding-right: 120px;
  padding-left: 120px;
  margin-bottom: 100px;
}
.count .box-container{
  background-color: #f917b5db;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 50px; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2.5rem;
  align-items: flex-start;
}
.count .box-container .box{
  background-color: #181772;
  border-radius: 2rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  box-shadow:0 8px 8px #00000074;
  transition: 0.5s all;
}
.count .box-container .box:hover{
  transform: translateY(-10px);
  box-shadow:0 10px 10px #00000051;
}
.count .box-container .box:hover i{
  color: #fff;
}
.count .box-container .box:hover .content p{
  color: #f917b5;
  font-weight: 500;
}
.count .box-container .box i{
  font-size: 4rem;
  color: #F917B5;
  transition: 0.5s all;
}
.count .box-container .box .content h3{
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: 700;
  color: #fff;
}
.count .box-container .box .content p{
  font-size: 1rem;
  color: #ffffffb4;
  transition: 0.5s all;
}


/* Slider */
.container-brands {
background-color: #02003d;
display: flex;
flex-direction: column; /* Para empilhar os elementos verticalmente */
justify-content: center;
align-items: center;
padding-top: 90px;
padding-bottom: 90px;
}

.container-brands h3 {
font-size: 3em;
font-weight: bold;
color: #fff;
margin-bottom: 10px; /* Espaço abaixo do título */
}

.container-brands h3 span {
color: #f917b5;
}

.container-brands .images-brands {
display: flex;
justify-content: center;
align-items: center;
}

.container-brands .images-brands img {
margin: 0 10px; /* Espaço entre as imagens */
}



/* O que fazer */
.section-content{
padding-top: 2rem;
background-color: #050264;
}
.section-side{
display: flex;
align-items: center;
justify-self: center;
padding: 2rem;
padding-bottom: 5rem;
}
.section-side-left{
margin-left: 60px;
height: 100%;
flex-basis: 45%;
}
.section-side-left h3{
line-height: 4rem;
margin-top: 2rem;
color: #fff;
font-size: 3.2rem;
margin-bottom: 1rem;
}
.section-side-left h3 span{
font-family: 'Baloo';
font-size: 3.7rem;
font-weight: 100;
color: #F917B5;
}
.section-side-left h3 span span{
font-family: 'Baloo';
font-size: 3.7rem;
font-weight: 100;
color: #ed5bc7;
}
.section-side-left p{
color: #fff;
font-size: 1rem;
line-height: 1.5rem;
margin-bottom: 1.5rem;
}
.section-side-right{
flex-basis: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.section-side-right img{
height: 400px;
}




/* Post Section */
.post-section{
background-color: #f917b5;
height: auto;
padding: 4rem 0 4rem 0;
}
.post-section h3 {
text-align: center;
font-size: 3em;
padding-bottom: 2.5rem;
font-weight: bold;
color: #fff; /* Cor do texto do título */
}
.post-section h3 span {
color: #050264;
}
.post.container .related {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.center-button-blog{
text-align: center;
}
.go-blog{
background-color: #050264;
padding: 15px;
border-radius: 10px;
color: #fff;
font-weight: 550;
font-size: 1.1rem;
transition: .5s;
}
.go-blog:hover{
background-color: #fff;
color: #050264;
}


/* Curso Section */
.curso-section{
  background-color: #050264;
  height: auto;
  padding: 2.7rem 0 5rem 0;
  }
  .curso-section h3 {
  text-align: center;
  font-size: 3em;
  padding-bottom: 2.5rem;
  font-weight: bold;
  color: #fff; /* Cor do texto do título */
  }
  .curso-section h3 span {
  color: #f917b5;
  }
  .center-button-curso{
  text-align: center;
  }
  .go-curso{
  background-color: #f917b5;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: 550;
  font-size: 1.1rem;
  transition: .5s;
  }
  .go-curso:hover{
  background-color: #fff;
  color: #f917b5;
  }


  /* Shop Section */
/* shops */
.shop{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,100px));
  justify-content: center;
  gap: 1.5rem;
}
.shop-box{
  background: var(--bg-color);
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
  transition: 0.5s all;
}
.shop-box:hover{
  transform: translateY(-2px);
}
.shop-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.category{
  background-color: #F917B5;
  max-width: fit-content;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.75rem;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s all;
  cursor: pointer;
}
.category:hover{
  background-color: #fff;
  color: var(--second-color);
}
.shop-title{
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 580;
  color: var(--text-color);
}
.price{
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 15px 0 20px;
}
.carrinho{
  justify-content: center;
  background-color: #F917B5;
  max-width: fit-content;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
  transition: 0.5s all;
  cursor: pointer;
}
.carrinho:hover{
  background-color: #fff;
  color: var(--second-color);
}
.carrinho i{
  font-size: 18px;
  padding: 10px 10px 10px 5px;
}
.carrinho p{
  font-size: 18px;
  padding-right: 10px;
}
  .center-button-blog{
  text-align: center;
  }
  .go-blog{
  background-color: #050264;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: 550;
  font-size: 1.1rem;
  transition: .5s;
  }
  .go-blog:hover{
  background-color: #fff;
  color: #050264;
  }
  




/* Perguntas frequentes */
section-6{
background: #050264; 
z-index: -1;
width: 100%;
height: auto;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
padding: 2.7rem 50px 20px 50px;
transition: height 1s;
}
section-6 .perg-freq{
padding: 10px 12%;
text-align: center;
font-size: 15px;
}
section-6 .perg-freq h2{
font-size: 2.8rem;
font-weight: bold;
color: #fff;
}
section-6 .perg-freq h2 span{
color: #f917b5;
}
section-6 .accordion{
margin: 30px auto;
width: 100%;
max-width: 900px;
}
section-6 .accordion li{
list-style: none;
width: 100%;
padding: 5px;
color: #fff;
}
section-6 .accordion li label{
display: flex;
align-items: center;
padding: 20px;
font-size: 18px;
background: #02003d;
cursor: pointer;
position: relative;
}
section-6 .accordion li label::after{
content: '+';
color: #f917b5;
font-size: 34px;
position: absolute;
right: 20px;
transition: transform 0.5s ease;
}
section-6 input[type="checkbox"]{
display: none;
}
section-6 .accordion .content{
background: #110e70;
text-align: left;
padding: 0 20px;
max-height: 0;
overflow: hidden;
transition: max-height 0.5s, padding 0.5s;
}
section-6 .accordion [type="checkbox"]:checked + label + .content{
max-height: 600px;
padding: 30px 20px;
}
section-6 .accordion [type="checkbox"]:checked + label::after{
transform: rotate(135deg);
}



/* cursos */
.curso{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,100px));
  justify-content: center;
  gap: 1.5rem;
}
.curso-box{
  background: var(--bg-color);
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
  transition: 0.5s all;
}
.curso-box:hover{
  transform: translateY(-2px);
}
.curso-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.category{
  background-color: #F917B5;
  max-width: fit-content;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.75rem;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s all;
  cursor: pointer;
}
.category:hover{
  background-color: #fff;
  color: var(--second-color);
}
.curso-title{
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 580;
  color: var(--text-color);
  /* To Remain Title In 2 Lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.curso-date{
  color: #F917B5;
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}
.curso-description{
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 10px 0 20px;
  /* To Remain Title In 3 Lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.profile-curso{
  padding-top: 25px;
  padding-bottom: 20px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-curso-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 3px solid var(--second-color);
}
.profile-curso-img img{
  width: 100%;
}
.profile-curso-name{
  line-height: 1.1rem;
  color: #fff;
  font-size: 0.82rem;
  font-weight: 500;
}
.ver-curso{
  justify-content: center;
  background-color: #F917B5;
  max-width: fit-content;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
  transition: 0.5s all;
  cursor: pointer;
}
.ver-curso:hover{
  background-color: #fff;
  color: var(--second-color);
}
.ver-curso i{
  font-size: 18px;
  padding: 10px 10px 10px 5px;
}
.ver-curso p{
  font-size: 18px;
  padding-right: 10px;
}






/* shops */

.shop{
  background-color: #f917b5;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,100px));
  justify-content: center;
  gap: 1.5rem;
}
.shop-box{
  background: var(--bg-color);
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
  transition: 0.5s all;
}
.shop-box:hover{
  transform: translateY(-2px);
}
.shop-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.category{
  background-color: #F917B5;
  max-width: fit-content;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.75rem;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s all;
  cursor: pointer;
}
.category:hover{
  background-color: #fff;
  color: var(--second-color);
}
.shop-title{
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 580;
  color: var(--text-color);
}
.price{
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 15px 0 20px;
}
.carrinho{
  justify-content: center;
  background-color: #F917B5;
  max-width: fit-content;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
  transition: 0.5s all;
  cursor: pointer;
}
.carrinho:hover{
  background-color: #fff;
  color: var(--second-color);
}
.carrinho i{
  font-size: 18px;
  padding: 10px 10px 10px 5px;
}
.carrinho p{
  font-size: 18px;
  padding-right: 10px;
}





















.pricingTable{
  background: #fff;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  padding: 0 0 20px;
  margin: 0 15px;
  transition: all 0.3s ease 0s;
}
.pricingTable:hover{ box-shadow: 0 0 15px -3px rgba(0,0,0,0.6); }
.pricingTable .pricingTable-header{
  color: #fff;
  background-color: #11B293;
  padding: 25px 0 0;
  margin-bottom: 95px;
  border: 1px solid transparent;
  border-radius: 0 0 50% 50%;
}
.pricingTable .title{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.pricingTable .icon{
  color: #11B293;
  background-color: #fff;
  font-size: 100px;
  line-height: 175px;
  height: 180px;
  width: 180px;
  margin: 0 auto -80px;
  border: 7px solid #11B293;
  border-radius: 50%;
}
.pricingTable .pricing-content{
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
}
.pricingTable .pricing-content li{
  color: #505050;
  font-size: 19px;
  margin: 0 0 10px;
  border-radius: 10px;
  position: relative;
}
.pricingTable .pricing-content li.disable{ color: #999; }
.pricingTable .pricing-content li i{
  color: #11B293;
  margin: 0 7px 0 0;
  display: inline-block;
}
.pricingTable .price-value{
  color: #00B99A;
  margin: 0 0 7px;
  border: 2px solid #fff;
  border-radius: 25px;
}
.pricingTable .amount{
  font-size: 80px;
  line-height: 50px;
  font-weight: 700;
  display: block;
}
.pricingTable .month{
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  display: block;
}
.pricingTable .pricingTable-signup{
  color: #fff;
  background-color: #11B293;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 13px 25px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s ease;
}
.pricingTable .pricingTable-signup:hover{
  color: #00B99A;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5) inset, 0 0 10px 5px #00B99A;
}
.pricingTable.red .pricingTable-header{ background-color: #FD7962; }
.pricingTable.red .icon{
  color: #FD7962;
  border-color: #FD7962;
}
.pricingTable.red .pricing-content li i,
.pricingTable.red .price-value{
  color: #FD7962;
}
.pricingTable.red .pricingTable-signup{ background-color: #FD7962; }
.pricingTable.red .pricingTable-signup:hover{
  color: #FD7962;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5) inset, 0 0 10px 5px #FD7962;
}
.pricingTable.blue .pricingTable-header{ background-color: #00B2FD; }
.pricingTable.blue .icon{
  color: #00B2FD;
  border-color: #00B2FD;
}
.pricingTable.blue .pricing-content li i,
.pricingTable.blue .price-value{
  color: #00B2FD;
}
.pricingTable.blue .pricingTable-signup{ background-color: #00B2FD; }
.pricingTable.blue .pricingTable-signup:hover{
  color: #00B2FD;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5) inset, 0 0 10px 5px #00B2FD;
}
@media only screen and (max-width: 990px){
  .pricingTable{ margin: 0 auto 30px; }
}