*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   scroll-padding-top: 2rem;
   box-sizing: border-box;
}


:root {
  --container-color: #000;
  --second-color: #F917B5;
  --text-color: #fff;
  --bg-color: #02003d;
  background: #050264; 
}
body{
  background: #050264;
  overflow-x: hidden;
}


.header-inner-content{
  background-color: #050264;
  padding-top: 5.7rem;
  padding-bottom: 3rem;
}
.header-bottom-side{
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 2rem;
}

.header-bottom-side-left{
  margin-left: 80px;
  height: 100%;
  flex-basis: 45%;
}

.header-bottom-side-left h3{
  line-height: 4rem;
  margin-top: 2rem;
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}
.header-bottom-side-left h3 span{
  font-family: 'Baloo';
  font-size: 3.7rem;
  font-weight: 100;
  color: #F917B5;
}
.header-bottom-side-left h3 span span{
  font-family: 'Baloo';
  font-size: 3.7rem;
  font-weight: 100;
  color: #ed5bc7;
}

.header-bottom-side-left p{
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.header-bottom-side-right{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom-side-right img{
  width: 58%;
}



a{
  text-decoration: none;
  transition: .5s;
}
a:hover{
  color: #F917B5;
}
li{
  list-style: none;
}
.shop-box img{
  width: 100%;
}
section{
  padding: 3rem 0 2rem;
}
.container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
}



/* shop Filter */
.shop-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;
}
.filter-item{
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background: #f917b5b5;
  padding: 4px 10px;
  border-radius: 4px;
  transition: 0.5s all;
}
.filter-item:hover{
  transform: translateY(-3px);
}
.active-filter{
  background: var(--second-color);
  color: #fff;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 4px;
}


/* shops */
.shop{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,100px));
  justify-content: center;
  gap: 1.5rem;
}
.shop-box{
  background: var(--bg-color);
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
  transition: 0.5s all;
}
.shop-box:hover{
  transform: translateY(-2px);
}
.shop-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.category{
  background-color: #F917B5;
  max-width: fit-content;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.75rem;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s all;
  cursor: pointer;
}
.category:hover{
  background-color: #fff;
  color: var(--second-color);
}
.shop-title{
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 580;
  color: var(--text-color);
}
.price{
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 15px 0 20px;
}
.carrinho{
  justify-content: center;
  background-color: #F917B5;
  max-width: fit-content;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
  transition: 0.5s all;
  cursor: pointer;
}
.carrinho:hover{
  background-color: #fff;
  color: var(--second-color);
}
.carrinho i{
  font-size: 18px;
  padding: 10px 10px 10px 5px;
}
.carrinho p{
  font-size: 18px;
  padding-right: 10px;
}